manifest {
    mainScript = 'pipeline.nf'
}

params { 
  help = false
  dnabam = false
  single_end = false

  outdir = "results/"

  referenceGenome = "${params.outdir}/reference_genome/hg38.fa"
  referenceGenome_index = "${params.outdir}/reference_genome/index"

  ericscript_ref = "${params.outdir}/ericscript/files/ericscript_db_homosapiens_ensembl84"
  arriba_ref = "${params.outdir}/arriba/files"
  fusioncatcher_ref = "${params.outdir}/fusioncatcher/files"
  integrate_ref = "${params.outdir}/integrate/files"
  integrate_bwts = "${params.outdir}/integrate/files/bwts"
  genefuse_ref = "${params.outdir}/genefuse/files"

  arriba = false
  ericscript = false
  fusioncatcher = false
  integrate = false
  genefuse = false
  all = false

  rnareads = ""
  dnareads_tumor = ""
  dnareads_normal = ""

  envPath_ericscript = "/opt/conda/envs/ericscript/bin"
  envPath_arriba = "/opt/conda/envs/arriba/"
  envPath_fusioncatcher = "/opt/conda/envs/fusioncatcher/bin"
  envPath_integrate1 = "/home/citarrella/.conda/envs/int2/bin"
  envPath_integrate2 = "/opt/conda/envs/integrate/bin"
  envPath_genefuse = "/opt/conda/envs/genefuse/bin"

  nthreads = 8
  max_cpus = 16  
} 

process {
    container = 'federicacitarrella/ericscript:latest'
    publishDir = [path: params.outdir, mode: 'copy', overwrite: 'true']
} 

profiles {
    local {
      params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
    }
    docker {
      params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
      docker.enabled = true
      docker.fixOwnership = true
    }
    test_docker{
      params.rnareads  = "$baseDir/tutorial/reads_{1,2}.fq.gz"
      params.dnareads_tumor  = "$baseDir/tutorial/reads_{3,4}.fq.gz"
      params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
      docker.enabled = true
      docker.fixOwnership = true
    }
    test_local{
      params.rnareads  = "$baseDir/tutorial/reads_{1,2}.fq.gz"
      params.dnareads_tumor  = "$baseDir/tutorial/reads_{3,4}.fq.gz"
      params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
    }
}