manifest {
    mainScript = 'arriba.nf'
}

params { 
  help = false

  outdir = "results/"
  arriba_db = "${params.outdir}/Arriba"
  arriba_fasta = "${params.outdir}/Arriba/*.fa"
  arriba_gtf = "${params.outdir}/Arriba/*.gtf"
  arriba_index = "${params.outdir}/Arriba/STAR_index_GRCh38_ENSEMBL93"
  
  envPath_arriba = "/opt/conda/envs/Arriba/"

  max_cpus = 16
  
} 

process {
    container = 'federicacitarrella/ericscript:latest'
    publishDir = [path: params.outdir, mode: 'copy', overwrite: 'true']
} 

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el7'
          memory='32G'
          cpus='4'
          time='24h'
          scratch = true
        }
        docker.enabled = true
        docker.fixOwnership = true
    }
    rth {
        process {
          executor='pbs'
          queue='default'
          memory='64G'
          time='24h'
          clusterOptions='-l nodes=1:ppn=12:alone'
        }
    }
    local {
      params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
    }
    docker {
      params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
      docker.enabled = true
      docker.fixOwnership = true
    }
    test_docker{
      params.fasta1  = "$baseDir/tutorial/myreads_1.fq.gz"
      params.fasta2  = "$baseDir/tutorial/myreads_2.fq.gz"
      params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
      docker.enabled = true
      docker.fixOwnership = true
    }
    test_local{
      params.fasta1  = "$baseDir/tutorial/myreads_1.fq.gz"
      params.fasta2  = "$baseDir/tutorial/myreads_2.fq.gz"
      params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
    }
}
