manifest {
    mainScript = 'pipeline.nf'
}

params { 
  help = false

  outdir = "results/"

  ericscript_ref = "${params.outdir}/ericscript_db_homosapiens_ensembl84"
  arriba_ref = "${params.outdir}/Arriba"
  fusioncatcher_ref = "${params.outdir}/ref_fusioncatcher"
  
  envPath_ericscript = "/opt/conda/envs/EricScript/bin"
  envPath_arriba = "/opt/conda/envs/Arriba/"
  envPath_fusioncatcher = "/opt/conda/envs/FusionCatcher/bin"

  max_cpus = 16
  
} 

process {
    container = 'federicacitarrella/ericscript:3'
    publishDir = [path: params.outdir, mode: 'copy', overwrite: 'true']
} 

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el7'
          memory='32G'
          cpus='4'
          time='24h'
          scratch = true
        }
        docker.enabled = true
        docker.fixOwnership = true
    }
    rth {
        process {
          executor='pbs'
          queue='default'
          memory='64G'
          time='24h'
          clusterOptions='-l nodes=1:ppn=12:alone'
        }
    }
    local {
      params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
    }
    docker {
      params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
      docker.enabled = true
      docker.fixOwnership = true
    }
    test_docker{
      params.fasta1  = "$baseDir/tutorial/myreads_1.fq.gz"
      params.fasta2  = "$baseDir/tutorial/myreads_2.fq.gz"
      params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
      docker.enabled = true
      docker.fixOwnership = true
    }
    test_local{
      params.fasta1  = "$baseDir/tutorial/myreads_1.fq.gz"
      params.fasta2  = "$baseDir/tutorial/myreads_2.fq.gz"
      params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
    }
}